/*Colorss
 main color: #fab005
 main-2 color: #146ebe
 shadow-color: #1f2937
 backround-color: #f0f1f3
 */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: cera-round-pro, "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    background: #f0f1f3;
}
header .nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    height: 150px;
    padding: 10px;
}

header .nav-menu ul li{
    display: inline-block;
    padding: 0 30px ;
}

header .nav-menu ul a {
    text-decoration: none;
    color: #146ebe;
    font-size: 1.25rem;
    opacity: 70%;
    transition: all 0.3s ease-out;
}

header .nav-menu ul a:hover {
    opacity: 100%;
}

header .nav-search input{
    height: 100%;
    width: 250px;
    border: 2px solid #1f29378f;
    border-radius: 10px;
    font-size: 1rem;
}

.nav-search {
    position: relative;
    height: 40px;
}

header .nav-search i {
    position: absolute;
    top: 27%;
    left: 10px;
    padding: 0 5px 0 0;
    font-size: large;
    color: #1f29378f;
    border-right: 2px solid #1f29378f;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

main .banner {
    height: 85vh;
    background: url("./img/Cover.jpg");
    display: flex; 
    align-items: normal;
    flex-direction: column;
    justify-content: center;
    position: relative;
    /* object-fit: contain; */
    width: 95%;
    margin-top: 10px;
    border:1px solid #1f2937;
    border-bottom: 5px solid #1f2937;
    border-radius: 40px;
}

main .banner .greeting-text {
    /* text-align: center; */
    font-size: 3rem;
    font-weight: 600;
    padding-left: 150px;
    letter-spacing: 3px;
    color: #4b4d50d8;
}

main .banner .greeting-text::first-letter {
    font-size: 4rem;
}

main .banner .greeting-text span {
    color: #146fbe67;
    display: block;
    font-size: 4rem;
    font-weight: 800;
}

main .banner .about {
    width: 40%;
    margin-top: 50px;
    padding-left: 155px;
    letter-spacing: 3px;
}

main .banner img {
    height: 99vh;
    position: absolute;
    top: -17.25%;
    right: 0;
    filter: grayscale();
    border-radius: 40px;
}

#about-me {
    margin-top: 30px;
    width: 95vw;
    border: 1px solid #1f2937;
    border-bottom: 5px solid #1f2937;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#about-me .about-me {
    width: 85%;
    /* letter-spacing: 2px; */
    line-height: 2rem;
}

#about-me .about-me h1 {
    font-size: 2rem;
}

#about-me .about-me p {
    font-size: 1rem;
}